/*******/
/* HTML
/*******/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	font-size:62.5%; //62.5% is recommended to we can easily use REM values and generate a px fallback.
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background: $black;
	
	&.ie {
		overflow-x: hidden;
	}
}

.container, .container-fluid {
	@include container(12);
	@include clearfix();
	position: relative;
}

.line-spacer {
	position: relative;
	
	@include screen-lg {
		height: 0px !important;
		overflow: visible;
	}
}