/************/
/* IconFont
/************/

$icomoon-font-path: "fonts" !default;

$icon-stars-2: "\e901";
$icon-stars-1: "\e902";
$icon-jupiter: "\e903";
$icon-arrow-left: "\e900";
$icon-mmgy: "\e600";

