/*--------------*/
/* Typography
/*--------------*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Fjalla+One');

/*
@font-face {
	font-family: 'Regular-Bold';
	src:  url('/assets/media/fonts/regular-bold/Regular-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/media/fonts/regular-bold/Regular-Bold.otf')  format('opentype'),
		url('/assets/media/fonts/regular-bold/Regular-Bold.woff') format('woff'),
		url('/assets/media/fonts/regular-bold/Regular-Bold.ttf')  format('truetype'),
		url('/assets/media/fonts/regular-bold/Regular-Bold.svg#Regular-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

@font-face {
	font-family: 'Futura Std';
	src: 	url('/assets/media/fonts/FuturaStd/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
			url('/assets/media/fonts/FuturaStd/FuturaStd-Book.otf')  format('opentype'),
			url('/assets/media/fonts/FuturaStd/FuturaStd-Book.woff') format('woff'),
			url('/assets/media/fonts/FuturaStd/FuturaStd-Book.ttf')  format('truetype'),
			url('/assets/media/fonts/FuturaStd/FuturaStd-Book.svg#Futura-Std') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: 	url('/assets/media/fonts/FuturaStd/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
			url('/assets/media/fonts/FuturaStd/FuturaStd-Light.otf')  format('opentype'),
			url('/assets/media/fonts/FuturaStd/FuturaStd-Light.woff') format('woff'),
			url('/assets/media/fonts/FuturaStd/FuturaStd-Light.ttf')  format('truetype'),
			url('/assets/media/fonts/FuturaStd/FuturaStd-Light.svg#Futura-Std') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'iconfont-mars';
	src:  url('/assets/media/fonts/iconfont-mars/iconfont-mars.eot?#iefix') format('embedded-opentype'),
		url('/assets/media/fonts/iconfont-mars/iconfont-mars.woff2') format('woff2'),
		url('/assets/media/fonts/iconfont-mars/iconfont-mars.otf')  format('opentype'),
		url('/assets/media/fonts/iconfont-mars/iconfont-mars.ttf')  format('truetype'),
		url('/assets/media/fonts/iconfont-mars/iconfont-mars.woff') format('woff'),
		url('/assets/media/fonts/iconfont-mars/iconfont-mars.svg#Regular-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font-family-sans-serif:	'Open Sans', sans-serif;
$font-family-headline:		'Futura Std', sans-serif;
$font-family-alt-headline:	'Fjalla One', sans-serif;
$font-iconfont:				'iconfont-mars';

@mixin font-body($font-size: inherit, $color: inherit) {
	font-family: $font-family-sans-serif;
	font-size: $font-size;
	line-height: 24px;
	letter-spacing: 0px;
	@if ($color != inherit) {
	color: $color;
	}
}

@mixin font-headline($font-size: inherit, $color: inherit) {
	font-family: $font-family-headline;
	font-size: $font-size;
	letter-spacing: 0.6px;
    line-height: 1;
    font-weight: 400;
	@if ($color != inherit) {
	color: $color;
	}
}

@mixin font-alt-headline($font-size: inherit, $color: inherit) {
	font-family: $font-family-alt-headline;
	font-size: $font-size;
	letter-spacing: 4px;
	text-transform: uppercase;
	@if ($color != inherit) {
	color: $color;
	}
}

@mixin font-alt-headline-link() {
	transition: all ease-in-out 0.15s;
	
	&:hover,
	&:focus,
	&:active {
		color: darken($white, 10);
		transition: all ease-in-out 0.15s;
	}
}


html, body {
	font-family: $font-family-sans-serif;
}

a {
	&,
	&:link,
	&:active,
	&:hover,
	&:visited {
		text-decoration: none;
	}
}