/*--------------*/
/* Typography
/*--------------*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Fjalla+One');

@font-face {
  font-family: 'Regular-Bold';
  src:  url('/assets/media/fonts/regular-bold/Regular-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/media/fonts/regular-bold/Regular-Bold.otf')  format('opentype'),
		url('/assets/media/fonts/regular-bold/Regular-Bold.woff') format('woff'),
		url('/assets/media/fonts/regular-bold/Regular-Bold.ttf')  format('truetype'),
		url('/assets/media/fonts/regular-bold/Regular-Bold.svg#Regular-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-family-sans-serif:	'Open Sans', sans-serif;
$font-family-headline:		'Regular-Bold', sans-serif;
$font-family-alt-headline:	'Fjalla One', sans-serif;

@mixin font-body($font-size: inherit, $color: inherit) {
	font-family: $font-family-sans-serif;
	font-size: $font-size;
	line-height: 24px;
	letter-spacing: 0px;
	@if ($color != inherit) {
	color: $color;
	}
}

@mixin font-headline($font-size: inherit, $color: inherit) {
	font-family: $font-family-headline;
	font-size: $font-size;
	letter-spacing: 0.6px;
    line-height: 1;
	@if ($color != inherit) {
	color: $color;
	}
}

@mixin font-alt-headline($font-size: inherit, $color: inherit) {
	font-family: $font-family-alt-headline;
	font-size: $font-size;
	letter-spacing: 4px;
	@if ($color != inherit) {
	color: $color;
	}
}


html, body {
	font-family: $font-family-sans-serif;
}

a {
	&,
	&:link,
	&:active,
	&:hover,
	&:visited {
		text-decoration: none;
	}
}