/*--------------------------*/
/* Details
/*--------------------------*/


div.details {
	position: relative;
	width: 100%;
	max-width: 1550px;
	@include z-index(intro);
	
	
	@include screen-lg {
		position: absolute;
		left: 50% !important;
		top: -50%;
		transform: translate(-50%, -50%);
		width: 90%;
		border: 19px solid rgba($white, 0.06);
	}
	
	@include screen-2xl {
		width: span(8);
	}
}

.details--wrapper {
	@include clearfix();
	background: linear-gradient(135deg, rgba($red-dark,1) 0%,rgba($purple,1) 100%);
	padding: 90px 60px;
}

.details--headline {
	position: relative;
	@include span(12);
	@include font-headline(40px, $white);
	text-transform: uppercase;
	margin: 0 0 20px;
}

.details--copy {
	position: relative;
	@include span(6);
	color: $white;
	
		
	p {
		@include font-body(16px, #dfdfdf);
		font-weight: 100;
		
		@include screen-2xl {
			@include font-size(20px);
		}
		
		strong {
			color: $white;
		}
	}
}
.details--bullets {
	@include span(6);
	
	ul {
		@include font-body(14px, rgba($white, 0.5));
	}
}


.details--expert {
	display: flex;
}

.details--expert--image {
	display: flex;
	margin-right: 20px;
}

.details--expert--content {
	display: flex;
	flex-direction: column;	
	justify-content: center;
}

.details--expert--title {
	@include font-body(16px, #dfdfdf);
}
.details--expert--cta {
	@include font-alt-headline(20px, $red);
	@include font-alt-headline-link();
}