/*--------------------------*/
/* Hero
/*--------------------------*/


.hero {
	//@include container();
	position: relative;
	font-size: 0;
	@include z-index(hero);
}
	
.hero--img {
	position: relative;
	@include object-fit();
	@include z-index(hero--img);
}

.hero--logo {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 163px;
	@include z-index(hero--logo);
	
	@include screen-sm {
		top: 46px;
		left: 53px;
	}
}

.hero--content {
	color: $white;
	@include z-index(hero--content);
	width: 90%;
	margin: 0 auto;
    position: relative;
    top: 190px;
	
	@include screen-sm {
		width: 60%;
	}
	@include screen-md {
		position: absolute;
		top:50%;
		transform: translate(-50%, -50%);
		left: 50% !important;
	}
	@include screen-lg {
		width: 75%;
	}
	@include screen-xl {
		width: 50%;
	}
	
}

.hero--h1 {
	@include font-headline(48px);
	margin: 0 auto 20px;
	text-align: center;
	letter-spacing: -1.7px;
	text-transform: uppercase;
	
	@include screen-lg {
		@include font-size(75px);
	}
	
	@include screen-3xl {
		width: 765px;
	}
}
.hero--h2 {
	position: relative;
	@include font-body(20px, #dfdfdf);
	text-align: center;
	font-weight: 100;
	margin: 0;
	
	@include screen-md {
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: -105px;
			width:1px;
			height: 85px;
			background: #a5a4a4;
		}
	}
	@include screen-3xl {
		@include font-size(34px);
		margin-top: 40px;
	}
}

.hero--stars--1 {
	background: url('/assets/media/images/mars-hero-stars-1.png');
	background-repeat: repeat;
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	@include z-index(hero--stars);
}
.hero--stars--2 {
	background: url('/assets/media/images/mars-hero-stars-1.png');
	transform: rotate(180deg);
	background-repeat: repeat;
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	@include z-index(hero--stars);
}

.hamburger {
	position: absolute;
	top: 20px;
	right: 20px;
	@include z-index(hamburger);
	
	display: none;
	
	@include screen-sm {
		top: 30px;
		right: 30px;		
	}
	
	&:focus {
		outline: none;
	}
}