/*--------------------------*/
/* Intro
/*--------------------------*/


.intro {
	position: relative;
	//@include container();
	@include clearfix();
	width: 100%;
	max-width: 1550px;
	border: 19px solid rgba($white, 0.06);
	@include z-index(intro);
	
	@include screen-md-only {
		width: span(8);
		margin: -60px auto 100px;
	}
	
	@include screen-lg {
		display: flex;
		position: absolute;
		left: 50% !important;
		top:-50%;
		width: 90%;
		transform: translateX(-50%) translateY(15%);
		opacity: 0;
		
		.dom-ready & {
			opacity: 1;
			transform: translateX(-50%) translateY(-50%);
			transition: all linear 0.6s;
		}
	}
	
	@include screen-2xl {
		width: 66.66667%;
	}
	
	
}

	
.intro--content {
	position: relative;
	width: span(12);
	display: flex;
	flex-direction: column;
	order: 2;
	color: $white;
	background: linear-gradient(135deg, rgba($purple,1) 0%,rgba($red-dark,1) 100%);
	
	@include screen-md-only {
		min-height: 400px;
		width: span(12);
	}
	
	@include screen-lg {
		width: span(6);
	}
	
	.intro--copy {
		padding: 30px;
		width: 100%;
		
		@include screen-sm {
			padding: 70px;
		}
		
		@include screen-lg {
			@include centerer();
		}
	}
	h3 {
		position: relative;
		display: inline-block;
		@include font-headline(28px);
		margin: 0;
		text-transform: uppercase;
		
		@include screen-2xl {
			@include font-size(34px);
		}
		@include screen-3xl {
			@include font-size(44px);
		}
		
		&::before {
			@include iconfont($icon-jupiter, 65px);
			display: block;
			text-align: center;
			margin-bottom: 20px;
			
			@include screen-3xl {
				@include font-size(100px);
			}
		}
	}
	
	p {
		@include font-body(16px, #dfdfdf);
		font-weight: 100;
		
		@include screen-2xl {
			@include font-size(20px);
		}
	}
	
	.intro--cta {
		@include font-alt-headline(20px, $red);
		@include font-alt-headline-link();
	}
}
.intro--image {
	width: span(12);
	font-size: 0;
	
	@include screen-md-only {
		display: none;
	}
	
	@include screen-lg {
		display: flex;
		order: 1;
		width: span(6);
		overflow: hidden;
		transform: translateZ(0) scale(1);
	}
	
	img {
		max-width: 100%;
		@include object-fit();
		transition: all ease-in-out 1.5s;
		backface-visibility: hidden;
		transform: translateZ(0) scale(1);
		
		@include screen-lg {
			&:hover {
				backface-visibility: hidden;
				transform: translateZ(0) scale(1.1);
			}
		}
	}
}

.intro--sidebar--promo {
	position: relative;
	display: block;
	padding-top: 30px;
	@include font-headline(48px);
	border-top: 4px solid $gray-light;
	color: $gray-light;
	margin-bottom: 60px;
	
	&:after {
		content: " ";
		position: absolute;
		bottom: -30px;
		left: 0;
		width: 45px;
		border-top: 1px solid $gray-light;
	}
}
