/*--------------------------*/
/* Intro
/*--------------------------*/


.intro {
	@include container();
	@include clearfix();
	width: 60%;
	max-width: 939px;
	display: flex;
	border: 19px solid rgba($white, 0.06);
}
	
.intro--content {
	width: span(6);
	display: flex;
	flex-direction: column;
	order: 2;
	color: $white;
	background: linear-gradient(135deg, rgba($purple,1) 0%,rgba($red,1) 100%);
	h3 {
		position: relative;
		@include font-headline(34px);
		margin: 0 0 35px;
	}
	
	p {
		@include font-body(16px);
	}
}
.intro--image {
	width: span(6);
	display: flex;
	order: 1;
	
}

.intro--sidebar--promo {
	position: relative;
	display: block;
	padding-top: 30px;
	@include font-headline(48px);
	border-top: 4px solid $gray-light;
	color: $gray-light;
	margin-bottom: 60px;
	
	&:after {
		content: " ";
		position: absolute;
		bottom: -30px;
		left: 0;
		width: 45px;
		border-top: 1px solid $gray-light;
	}
}
