/*--------------------------*/
/* Itinerary
/*--------------------------*/

.tahiti-wrapper {
	
	.itinerary {
		padding: 60px 0 60px;
		
		@include screen-md {
			padding: 175px 0 60px;
		}
		
		h2 {
			@include font-headline(36px);
			color: $yellow;
			line-height: 1;
			margin: 0 0 5px;
			text-align: center;
			
			@include screen-md {
				font-size: 50px;
				padding-top: 40px;
				text-align: left;
				border-top: 4px solid $gray;
			}
		}
		
		h3 {
			@include font-alt-headline(26px);
			color: $blue-dark;
			margin: 0 0 30px;
			text-align: center;
			
			@include screen-md {
				font-size: 35px;
				text-align: left;
			}
		}
		
		h4 {
			@include font-body(16px);
			font-weight: 700;
			color: $blue-dark;
			margin: 0;
		}
		
		p {
			@include font-body(16px);
			margin: 0;
		}
		
		.itinerary--details {
			position: relative;
			margin: 20px 0 30px;
			
			&:after {
				content: "";
				position: absolute;
				bottom: -15px;
				left: 0;
				width: 50px;
				height: 1px;
				border-top: 1px solid $gray;
			}
		}
		.itinerary--details--price {
			@include font-headline(22px);
			color: $blue-dark;
			margin-right: 15px;
			text-transform: none;
		}
		
		.itinerary--details--airfare {
			display: block;
			@include font-body(16px);
			color: $gray-light;
			
			@include screen-lg {
				display: inline;
			}
		}
		
		.itinerary--itinerary-title {
			@include font-headline(22px);
			color: $yellow;
			margin: 0 0 10px;
			padding-top: 35px;
			
			@include screen-md {
				border-top: 4px solid $gray;
			}
		}
		
		ul {
			position: relative;
			list-style: none;
			margin: 0 0 60px;
			padding: 0;
			
			&:after {
				content: "";
				position: absolute;
				bottom: -25px;
				left: 0;
				width: 50px;
				height: 1px;
				border-top: 1px solid $gray;
			}
			
			@include screen-md {
				column-count: 2;
			}
			
			li {
				margin: 3px 0 0;
				@include font-body(16px);
				color: $gray-dark;
				
				em {
				    display: inherit;
				    line-height: 1;
					color: $gray-light;
				}
			}
		}
		
		.btn {
			@include screen-sm-max {
				display: block;
				text-align: center;
			}
		}
	}
	
	.itinerary--dream-of-tahiti {
		@include make-container();
		margin-bottom: 30px;
		
		@include screen-md {
			&:before {
				//content: url('/assets/media/images/tahiti_dream_map.png');
				max-width: 100%;
				margin: 0 auto -30px;
			}
		}
		
		.itinerary--map {
			display: none;
			max-width: 90%;
			margin: 0 auto -30px;
			
			@include screen-md {
				display: block;
			}
		}
	}
	
	.itinerary--tuamotu-islands {
		@include make-container();
		
		.itinerary--map {
			display: none;
			max-width: 90%;
			margin: 0 auto 30px;
			
			@include screen-md {
				display: block;
			}
		}
	}
	
	
	.itinerary--dream-of-tahiti--content {
		@include span(12);
		padding-left: 30px;
		padding-right: 30px;
		
		@include screen-md {
			@include span(6);
		}
	}
	
	.itinerary--dream-of-tahiti--itinerary {
		@include span(12);
		padding-left: 30px;
		padding-right: 30px;
		
		@include screen-md {
			@include span(6);
		}
	}
	
	.itinerary--tuamotu-islands--content {
		@include span(12);
		padding-left: 30px;
		padding-right: 30px;
		
		@include screen-md {
			@include span(6);
		}
		
		h2 {
			@include screen-sm-max {
				border-top: 4px solid $gray;
			    padding-top: 60px;
				margin-top: 30px;
			}
		}
	}
	
	.itinerary--tuamotu-islands--itinerary {
		@include span(12);
		padding-left: 30px;
		padding-right: 30px;
		
		@include screen-md {
			@include span(6);
		}
	}
	
	
}