/*--------------------------*/
/* Trips
/*--------------------------*/

.trips {
	position: absolute;
	display: flex;
	width: 100%;
	bottom: -120px;
	
	@include screen-sm {
		bottom: -193px;
	}
	
	h4 {
		position: relative;
		@include font-body(44px, $white);
		font-weight: 100;
		letter-spacing: -0.05em;
		margin: 0;
		
		@include screen-sm {
			@include font-size(50px);
		}
		@include screen-md {
			@include font-size(70px);
		}
		
		a {
			color: $white;
		}
	}
	
	.trips--cta {
		position: relative;
		display: inline-block;
		@include font-alt-headline(16px, #b4a8aa);
		@include font-alt-headline-link();
		margin-top: 30px;
		
		&::before {
			@include iconfont($icon-arrow-left, 12px);
			position: absolute;
			top:4px;
		}
	}
}

.trips--7 {
	position: relative;
	width: 50%;
	text-align: right;
	padding: 20px 20px 0 40px;
	max-height: 175px;
	
	@include screen-sm {
		padding: 45px;
	}
	@include screen-md {
		padding: 60px;
	}
	
	h4 {
		&::before {
			
			display: none;
			
			@include iconfont($icon-stars-1, 108px);
			transform: rotate(270deg) scaleX(-1);
			position: absolute;
			top: -41px;
			right: 110px;
			
			@include screen-md {
				@include font-size(108px);
				top: -41px;
				right: 40px;
			}
		}
	}
	
	.trips--cta::before {
		left: -20px;
	}
	
}
.trips--11 {
	position: relative;
	width: 50%;
	padding: 20px 40px 0 20px;
	max-height: 175px;
	
	@include screen-sm {
		padding: 45px;
	}
	@include screen-md {
		padding: 60px;
	}
	
	&::before {
		content: '';
		position: absolute;
		border-left: 1px solid #a5a4a4;
		width: 1px;
		height: 180px;
		left:0;
		top: -47px;
	}
	
	h4 {
		&::before {
			
			display: none;
			
			@include iconfont($icon-stars-2, 78px);
			transform: rotate(270deg) scaleX(-1);
			position: absolute;
			top: -55px;
			left: 150px;
			
			
			@include screen-md {
				@include font-size(108px);
				top: -65px;
				left: 90px;
			}
		}
	}
	
	.trips--cta::before {
		right: -20px;
		transform: rotate(180deg);
	}
}
